
h1, h2, h3, h4 {
	font-family: 'lobster', serif
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans;
}

.banner {
	color: #F00;
	text-shadow: 0.005em 0.025em 0.01em #960000, -0.1em 0em 0em #960000, -0.1em 0em 0.1em rgba(0, 0, 0, 0.59);
	font-size: 4em;
	margin: 0;
	transform-origin: 5% 50% 0px;
	transform: perspective(200px) rotateY(22deg) scaleX(1);
	display: inline-block;
	text-decoration: underline;
}

.main_navigator ul {
	display:flex;
	flex-direction: row;
	padding: 0em 5em;
}


.main_navigator ul > li {
	display: inline;
	flex-grow: 1;
}

.main_navigator ul > li > a {
	display: block;
	text-align: center;
	margin: 0.1em;
	box-shadow: 0 4px 5px -5px;
	text-decoration: none;
	border: solid #888;
	border-width: 0px 0px 1px 0px;
	color: #000;
	background: #C896B4;
}

.main_header {
	text-align: center;
}

.main_content {
	padding: 0 1em 4em 1em;
	width: 40em;
	max-width: 100%;
	margin: 0px auto;
	box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
	.main_navigator ul {
		flex-direction: column;
	}
}
